
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{ 
  --primarycolor:#ff6c37;
  
  color: #fff;
  
}

body {
  font-family: "Roboto", sans-serif;

   height: 100%;
   width: 100%;

}
body::-webkit-scrollbar{
  display: none;
}

